
TimeShift/bin/Debug/TimeShift.exe
TimeShift/bin/Debug/TimeShift.pdb
TimeShift/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TimeShift/TimeShift.csproj.user
TimeShift/TEST/UTC 2017-08-19 20.15.22_GOPR0342.MP4
TimeShift/TEST/UTC 2017-08-18 09.19.17_IMG_0584.MOV
TimeShift/obj/Debug/TimeShift.pdb
TimeShift/obj/Debug/TimeShift.exe
TimeShift/obj/Debug/TimeShift.csproj.FileListAbsolute.txt
TimeShift/obj/Debug/TimeShift.csproj.CoreCompileInputs.cache
/.vs
/TimeShift/obj/Release
